.search-container {
  margin: 20px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
  padding: 10px;
  font-size: 1rem;
  border: none;
  color: black;
  flex-grow: 1;
  background-color: transparent;
  outline: none;
}

.search-input::placeholder {
  color: green;
}

.search-button {
  width: 100px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: wheat;
  color: #fff;
  border-radius: 4px;
}

.search-button:hover {
  background-color: rgb(150, 243, 150);
}
