@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");

:root {
  --primary: #a5c7df;
  --secondary: #aed4ea;
  --BG-Color: #082636;
  --white: white;
}

body {
  margin: 0;
  font-family: "Zilla Slab", serif !important;
  background-color: bisque;
  background-image: url(./img/bg_image.jpg);
  background-size: cover;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sign_out {
  background-color: rgb(238, 43, 43);
  width: 100px;
  float: right;
}

.sign_out:hover {
  background-color: rgb(222, 11, 11);
}
