@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");

:root {
  --primary: #a5c7df;
  --secondary: #aed4ea;
  --BG-Color: #082636;
  --white: white;
}

* {
  margin: 0;
  font-family: "Slabo 27px", serif;
  color: var(--primary);
  background-color: var(--BG-Color);
  /* text-align: center; */
}
