@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");

:root {
  --primary: #a5c7df;
  --secondary: #aed4ea;
  --BG-Color: #082636;
  --white: white;
}

body {
  margin: 0;
  font-family: "Slabo 27px", serif;
  background-image: linear-gradient(
    to right top,
    #b7d3fc,
    #a5e4fd,
    #acf2f0,
    #cafade,
    #f2ffd4
  );
  background-position: 100%;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
